* {margin: 0; padding: 0;}

.depDiv {
	bottom: 0;
}

.commentDiv {
	margin-top: 2rem;
}

.modalClose {           /* Modal close icon, top right corner */
    font-weight: bold;
    font-size: 1.2rem;
		float: right;
    border: none;
    background-color:  #353637;
    color: white;
    margin-top: 0;
}

.modalClose:hover {     /* Modal close icon, hover yellowish */
    color: #e3ff00;
    text-shadow: 0 0 2px #e3ff00;
}

.modal-content {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.fa-sticky-note {
	color: white;
}

#myCanvas {
	position:absolute;
	width:100%;
	height:100%;
	z-index: -1;
}

.overDiv {
	z-index: 1;
}

#message {
    z-index:1000;
    position:absolute;
    top: 90%;
    right: 1rem;
    width: 25%;
}

#success-alert {    /* Alert message used with #message to show confirmation */
    margin: 0 auto;
}

.modal-header {         /* Modal header */
    height: 4rem;
    background-color: #353637;
    padding: 0;
		display: flex;
}

.li_level {
	width: 100%;
}

.lbl_user {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-top: 2rem;
}

.lbl_level {
	border: none !important;
	text-align: center;
	font-weight: bold;
	font-size: 2rem !important;
	height: 2rem;
	padding: 0 auto;
	margin-bottom: 2rem;
}

.btnFlowChart {
	border: 0;
}

.cellDone {
	background-color: #00FF9C;
}

.lvlLi {
	pointer-events: none;
	cursor: default;
}

.cellPending {
	background-color: #FFFDDC;
	pointer-events: none;
 	cursor: default;
}

.comIcon {
	float: right;
}

.tree ul {
	display: inline-block;
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	left: 0;
	list-style-type: none;
	position: relative;
	padding: 10px 10px 0 10px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	opacity: 0.9;
filter: alpha(opacity=90); /* For IE8 and earlier */
}

.li_Level:last-child{
	border-top: 2px dashed grey;
}

/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li a{
	height: 10rem;
	width: 10rem;
	border: 2px solid #ccc;
	padding: 0.5rem;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 15px;
	display: inline-grid;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/* Hover Effects */
.tree li a:hover, .tree li a:hover+ul li a {
	background: red; color: #000; border: 1px solid yellow;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
